<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  
    <title>Cobalt Keep Miniatures</title>
    <style>
        @media screen and (max-width: 450px) {
            #header {
                padding-top: 100px;
                background-image: url(/assets/images/banner2.jpg);
                background-size: 100%;
                background-repeat: repeat;
            }

        }
        @media screen and (min-width: 450px) and (max-width: 630px){
            #header{
                background-image: url(/assets/images/banner2.jpg);
            }
            
        }
        @media screen and (min-width: 630px) and (max-width: 980px){
            #header {
                background-image: url(/assets/images/banner1.jpg);
                background-size: 100%;
            }
        }
        @media screen and (min-width: 980px){ 
            #header {
                background-image: url(/assets/images/banner.jpg);
                background-size: 100%;
            }
            
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border-radius: 15px 50px;
        }
    </style>
</head>
  
  
  <!-- Toolbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#708090;">
    <a class="navbar-brand" style="color: #0047AB;" routerLink="/" routerLinkActive="active">
        <img src="/assets/images/Cobalt_Keep_Flag_Small.jpg"
            width="30" height="30" class="d-inline-block align-top" alt="">
        Cobalt Keep Miniatures
    </a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " style="color:whitesmoke;" routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/gallery" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/services" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/about-us" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/contact" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Contact</a>
            </li>
  
        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav" *ngIf="!(authenticationService.userData | async)"> 
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: #0047AB;" routerLink="/user-profile"
                    routerLinkActive="active">Login/Register</a>
            </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav" *ngIf="(authenticationService.userData | async)"> 
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: #0047AB;" routerLink="/user-profile"
                    routerLinkActive="active">Request a Quote</a>
            </li>
            <li class="nav-items">
                <a class="nav-link" style="color: #0047AB;" routerLink="/"
                routerLinkActive="active" (click)="signOut()">Log out</a>
            </li>
        </ul>
    </div>
  </nav>
  <!-- Header -->
  
  <div id= "header"class="jumbotron"style=" width: 100%;text-align: center;background-size: 100%;">
    <div class="container" >
      <h1 class="display-4" style="text-align: center; color: maroon;" ><strong>Cobalt Keep Miniature</strong></h1>
    
  
      
    </div>
  </div>
  <div class="content" role="main">
  
    <!-- Intro -->
  
  <div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h3 style="color: white; text-align: center;"><strong>Our Goal</strong></h3>
            <p style="text-align: center; color: darkblue;">
                What we do here at Cobalt Keep is turn your dream army into a reality. We take your miniatures and turn them into a quality painted army for a low price at a fast rate.
            </p>
        </div>
        <div class="d-flex col-md-6">
            <img
                src="/assets/images/Cobalt_Keep_Fit.jpg" class="center" style="border-radius: 15px 50px;" />
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container" style="background-color: darkgrey;">
    <div class="row">
        <div id="gallery" class="col-md-4" style="text-align: center;">
            <h3><strong>Gallery</strong></h3>
            <span>Click on the button below to be taken to our gallery where we have works from all three of our levels.<br>Use it as an idea for your next project or to find something of a similar level to what you were thinking of purchasing.</span>
            <br>
            <br>
            <a type="button" class="btn btn-lg btn-primary btn-block text-uppercase font-weight-bold mb-2"
            routerLink="/gallery" routerLinkActive="active">Gallery</a>
        </div>
        <div id="services" class="col-md-4" style="text-align: center;">
            <h3><strong>Services</strong></h3>
            <span>Our services page shows our differnet levels, and explains what changes between each. It also has a sample pricing list to give an idea of how much it would be for your dream army. The page also contains part of the process on how we package and deliver the army in a safe condition.<br></span>
            <br>
            <a type="button" class="btn btn-lg btn-primary btn-block text-uppercase font-weight-bold mb-2"
            routerLink="/services" routerLinkActive="active">Services</a>
  
        </div>
        <div id="aboutUs" class="col-md-4" style="text-align: center;">
            <h3><strong>About Us</strong></h3>
            <span>Ever wonder how someone gets started in the world of comission painting?<br><br> Check out our About Us page to find out more about our team and read some testimonials from our previous customers.<br></span>
            <br>
            <a type="button" class="btn btn-lg btn-primary btn-block text-uppercase font-weight-bold mb-2"
                routerLink="/about-us" routerLinkActive="active">About Us</a>
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <h3 style="color: white;"><strong>Community & links</strong></h3>
            <span style="color: darkblue;">Find us on <a style="color:white"
                href="https://www.facebook.com/Cobalt-Keep-Miniatures-110020873853563/" target="_blank" rel="noopener">Facebook</a> as well as on <a
                    style="color:orange" href="https://www.instagram.com/cobaltkeepminiatures/" target="_blank" rel="noopener">Instagram</a> to see
                our previous works as well as links to the communities we are apart of.</span>
        </div>
        <div class="img-fluid col-md-6">
            <img
                src="/assets/images/IMG_0711.JPG" class="center" />
        </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  
  
 