
<style>
    @media screen and (max-width: 450px) {
            #header {
                padding-top: 100px;
                background-image: url(/assets/images/banner2.jpg);
                background-size: 100%;
                background-repeat: repeat;
            }

        }
        @media screen and (min-width: 450px) and (max-width: 630px){
            #header{
                background-image: url(/assets/images/banner2.jpg);
            }
            
        }
        @media screen and (min-width: 630px) and (max-width: 980px){
            #header {
                background-image: url(/assets/images/banner1.jpg);
                background-size: 100%;
            }
        }
        @media screen and (min-width: 980px){ 
            #header {
                background-image: url(/assets/images/banner.jpg);
                background-size: 100%;
            }
            
        }
    div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    input{
        border-radius: 5px;
    }
    textarea{
        border-radius: 5px;
    }
    :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: 0.75rem;
    }

    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url("/assets/images/Cobalt_Keep_Fit.jpg");
        background-origin:padding-box;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 75%;
        
    }

    .login-heading {
        font-weight: 300;
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
        border-radius: 2rem;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .form-label-group>input,
    .form-label-group>label {
        padding: var(--input-padding-y) var(--input-padding-x);
        height: auto;
        border-radius: 2rem;
    }

    .form-label-group>label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        cursor: text;
        /* Match the input under the label */
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }

    /* Fallback for Edge
-------------------------------------------------- */

    @supports (-ms-ime-align: auto) {
        .form-label-group>label {
            display: none;
        }

        .form-label-group input::-ms-input-placeholder {
            color: #777;
        }
    }

    /* Fallback for IE
-------------------------------------------------- */

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        .form-label-group>label {
            display: none;
        }

        .form-label-group input:-ms-input-placeholder {
            color: #777;
        }
    }
</style>



<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#708090;">
    <a class="navbar-brand" style="color: #0047AB;" routerLink="/" routerLinkActive="active">
        <img src="/assets/images/Cobalt_Keep_Flag_Small.jpg"
            width="30" height="30" class="d-inline-block align-top" alt="">
        Cobalt Keep Miniatures
    </a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " style="color:#0047AB;" routerLink="/" routerLinkActive="active">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/gallery" routerLinkActive="active"
                    tabindex="-1" aria-disabled="true">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/services" routerLinkActive="active"
                    tabindex="-1" aria-disabled="true">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/about-us" routerLinkActive="active"
                    tabindex="-1" aria-disabled="true">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/contact" routerLinkActive="active"
                    tabindex="-1" aria-disabled="true">Contact</a>
            </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav"
        *ngIf="!(authenticationService.userData | async)">
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: whitesmoke;" routerLink="/user-profile"
                    routerLinkActive="active">Login/Register</a>
            </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav"
        *ngIf="(authenticationService.userData | async)">
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: whitesmoke;" routerLink="/user-profile"
                    routerLinkActive="active">User Profile</a>

            </li>
            <li class="nav-items">
                <a class="nav-link" style="color: whitesmoke;" routerLink="/" routerLinkActive="active"
                    (click)="signOut()">Log out</a>
            </li>
        </ul>
    </div>
</nav>


<div *ngIf="authenticationService.userData | async">
    <div id= "header"class="jumbotron"style="width: 100%;text-align: center; background-size: 100%; background-image: url(/assets/images/banner.jpg);">
        <h1 class="display-4" style="text-align: center; color: maroon;"><strong>
                User Profile
            </strong></h1>
        <p class="lead" style="text-align: center; color: maroon;"><strong>
                The place to send us your job requests
            </strong></p>
    </div>
    <div class="container">

        <h1 align="center"style="color:white;">Hello {{ (authenticationService.userData | async)?.email }}</h1>
        <div class="row">

            <p style="text-align: center;color: darkblue;">Please fill out the form below to have that sent to our team to review your
                job request! <br>
                <br>
                Please remember that if your job is accepted our team will send you an invoice for the full job and a
                payment link for half of the total. If you do have any addtional requests during the process we will
                also discuss at that time any additional charges.
            </p>
            <br>
            <br>
            <button type="button" (click)=toggleDisplay2() class="btn btn-primary btn-lg btn-block">Normal Quote form</button>
            <button type="button" (click)=toggleDisplay() class="btn btn-danger btn-lg btn-block">Large Quote form</button>
            <br>
            <br>
            <div class="container" *ngIf=!isShow2>
                <h1 align="center">Ask for a Quote!</h1>
                <div class="row">
                    
                    <div  style="display: table; width:100%">
                        <input style="display:table-cell; width:100%" type="text" placeholder="Name*" required="" [(ngModel)]="name">
                    </div>
                    
                    <div  style="display: table; width:100%">
                        <input style="display:table-cell; width:100%" type="text" placeholder="Email*" required="" [(ngModel)]="email">
                    </div>
                    <div  style="display: table; width:100%">
                        <label>Services Desired:</label>
                        <div>
                            <label style="padding-right: 20px;">Assembly: </label>
                            <input  style="padding-right: 20px;"type="checkbox" [value]=true [(ngModel)]="assembly">
                        
                            <label style="padding-right: 20px;padding-left: 20px;" >Basing: </label>
                            <input style="padding-right: 20px;" type="checkbox" [value]=true [(ngModel)]="basing">
                        </div>
                    </div>
                    <div  style="display: table; width:100%">
                        <input style="display:table-cell; width:100%" type="text" placeholder="Country*" required="" [(ngModel)]="country">
                    </div>
                    <div  style="display: table; width:100%">
                        <label>Please put the models and the levels you want for them here.</label>
                        <textarea style="width: 100%;display: table-cell;" autocomplete="off" class="input input--full input--textarea input--higher-textarea" [(ngModel)]="message" placeholder="Message*" required=""></textarea>
                    </div>
                    <div  style="display: table; width:100%">
                        <label>Color Scheme (if you have a photo please put a link to it here)</label>
                        <textarea style="width: 100%;display: table-cell;" autocomplete="off" class="input input--full input--textarea input--higher-textarea" [(ngModel)]="scheme" placeholder="Color scheme*" required=""></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" [disabled]="!name || !email || !services || !country || !message || !scheme"
                    (click)="sendEmail2()">Request Quote!</button>
                </div>
                
            </div>
            <br>
            <br>
            <div class="container" *ngIf=!isShow>

                <div class="form-group">
                    <label>Name: </label>
                    <input type="string" [(ngModel)]="name" />
                </div>
                <div class="form-group">
                    <label>Best Contact Email: </label>
                    <input type="string" [(ngModel)]="email" />
                </div>
                <div class="form-group">
                    <label>Will you be purchasing and shipping the models?: </label>
                    <input type="string" [(ngModel)]="models" />
                </div>
                <div class="form-group">
                    <label>Desired Currency</label>

                    <input type="string" [(ngModel)]="currenncy" />
                </div>



                <fieldset>
                    <legend>Quote</legend>


                    <div class="form-group">
                        <label>Infantry(smallest):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="infantrysmallest" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control istassmebly" [(ngModel)]="infantrysmallestassembly"
                            value="1" />

                        <label>Level 1</label>
                        <input type="radio" name="level" value="1" class="form-control istlvl1"
                            [(ngModel)]="infantrysmallestlevel" />
                        <label>Level 2</label>
                        <input type="radio" name="level" value="2" class="form-control istlvl2"
                            [(ngModel)]="infantrysmallestlevel" />
                        <label>Level 3</label>
                        <input type="radio" name="level" value="3" class="form-control istlvl3"
                            [(ngModel)]="infantrysmallestlevel" />

                    </div>

                    <div class="form-group">
                        <label>Infantry(small):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="infantrysmall" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control isassmebly" [(ngModel)]="infantrysmallassembly" />
                        <label>Level 1</label>
                        <input type="radio" name="isname" value="1" class="form-control islvl1"
                            [(ngModel)]="infantrysmalllevel" />
                        <label>Level 2</label>
                        <input type="radio" name="isname" value="2" class="form-control islvl2"
                            [(ngModel)]="infantrysmalllevel" />
                        <label>Level 3</label>
                        <input type="radio" name="isname" value="3" class="form-control islvl3"
                            [(ngModel)]="infantrysmalllevel" />
                    </div>

                    <div class="form-group">
                        <label>Infantry(medium):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="infantrymedium" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control imassmebly" [(ngModel)]="infantrymediumassembly" />
                        <label>Level 1</label>
                        <input type="radio" name="imname" value="1" class="form-control imlvl1"
                            [(ngModel)]="infantrysmediumevel" />
                        <label>Level 2</label>
                        <input type="radio" name="imname" value="2" class="form-control imlvl2"
                            [(ngModel)]="infantrysmediumevel" />
                        <label>Level 3</label>
                        <input type="radio" name="imname" value="3" class="form-control imlvl3"
                            [(ngModel)]="infantrysmediumevel" />
                    </div>

                    <div class="form-group">
                        <label>Infantry(elite):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="infantryelite" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control ieassmebly" [(ngModel)]="infantryeliteassembly" />
                        <label>Level 1</label>
                        <input type="radio" name="iename" value="1" class="form-control ielvl1"
                            [(ngModel)]="infantryelitelevel" />
                        <label>Level 2</label>
                        <input type="radio" name="iename" value="2" class="form-control ielvl2"
                            [(ngModel)]="infantryelitelevel" />
                        <label>Level 3</label>
                        <input type="radio" name="iename" value="3" class="form-control ielvl3"
                            [(ngModel)]="infantryelitelevel" />
                    </div>

                    <div class="form-group">
                        <label>Infantry(large):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="infantrylarge" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control ilassembly" [(ngModel)]="infantrylargeassembly" />
                        <label>Level 1</label>
                        <input type="radio" name="ilname" value="1" class="form-control illvl1"
                            [(ngModel)]="infantrylargelevel" />
                        <label>Level 2</label>
                        <input type="radio" name="ilname" value="2" class="form-control illvl2"
                            [(ngModel)]="infantrylargelevel" />
                        <label>Level 3</label>
                        <input type="radio" name="ilname" value="3" class="form-control illvl3"
                            [(ngModel)]="infantrylargelevel" />
                    </div>

                    <div class="form-group">
                        <label>Infantry(hero):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="infantryhero" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control ihassembly" [(ngModel)]="infantryheroassembly" />
                        <label>Level 1</label>
                        <input type="radio" name="ihname" value="1" class="form-control ihlvl1"
                            [(ngModel)]="infantryherolevel" />
                        <label>Level 2</label>
                        <input type="radio" name="ihname" value="2" class="form-control ihlvl2"
                            [(ngModel)]="infantryherolevel" />
                        <label>Level 3</label>
                        <input type="radio" name="ihname" value="3" class="form-control ihlvl3"
                            [(ngModel)]="infantryherolevel" />
                    </div>

                    <div class="form-group">
                        <label>Infantry(large hero):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="infantrylargehero" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control ilhassembly"
                            [(ngModel)]="infantrylargeheroassembly" />
                        <label>Level 1</label>
                        <input type="radio" name="ilhname" value="1" class="form-control ilhlvl1"
                            [(ngModel)]="infantrylargeherolevel" />
                        <label>Level 2</label>
                        <input type="radio" name="ilhname" value="2" class="form-control ilhlvl2"
                            [(ngModel)]="infantrylargeherolevel" />
                        <label>Level 3</label>
                        <input type="radio" name="ilhname" value="3" class="form-control ilhlvl3"
                            [(ngModel)]="infantrylargeherolevel" />
                    </div>


                    <div class="form-group">
                        <label>Mounted(small):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="mountedsmall" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control msassembly" [(ngModel)]="mountedsmallassembly" />
                        <label>Level 1</label>
                        <input type="radio" name="msname" value="1" class="form-control mslvl1"
                            [(ngModel)]="mountedsmalllevel" />
                        <label>Level 2</label>
                        <input type="radio" name="msname" value="2" class="form-control mslvl2"
                            [(ngModel)]="mountedsmalllevel" />
                        <label>Level 3</label>
                        <input type="radio" name="msname" value="3" class="form-control mslvl3"
                            [(ngModel)]="mountedsmalllevel" />
                    </div>
                    <div class="form-group">
                        <label>Mounted(medium):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="mountedmedium" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control mmassembly" [(ngModel)]="mountedmediumassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="mmname" class="form-control mmlvl1"
                            [(ngModel)]="mountedmediumlevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="mmname" class="form-control mmlvl2"
                            [(ngModel)]="mountedmediumlevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="mmname" class="form-control mmlvl3"
                            [(ngModel)]="mountedmediumlevel" />
                    </div>
                    <div class="form-group">
                        <label>Mounted(large):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="mountedlarge" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control mlassembly" [(ngModel)]="mountedlargeassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="mlname" class="form-control mllvl1"
                            [(ngModel)]="mountedlargelevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="mlname" class="form-control mllvl2"
                            [(ngModel)]="mountedlargelevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="mlname" class="form-control mllvl3"
                            [(ngModel)]="mountedlargelevel" />
                    </div>
                    <div class="form-group">
                        <label>Monster/Vehicle(small):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="vehiclesmall" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control vsassembly" [(ngModel)]="vehiclesmallassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="vsname" class="form-control vslvl1"
                            [(ngModel)]="vehiclesmalllevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="vsname" class="form-control vslvl2"
                            [(ngModel)]="vehiclesmalllevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="vsname" class="form-control vslvl3"
                            [(ngModel)]="vehiclesmalllevel" />
                    </div>
                    <div class="form-group">
                        <label>Monster/Vehicle(medium):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="vehiclemedium" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control vmassembly" [(ngModel)]="vehiclemediumassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="vmname" class="form-control vmlvl1"
                            [(ngModel)]="vehiclemediumlevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="vmname" class="form-control vmlvl1"
                            [(ngModel)]="vehiclemediumlevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="vmname" class="form-control vmlvl1"
                            [(ngModel)]="vehiclemediumlevel" />
                    </div>
                    <div class="form-group">
                        <label>Monster/Vehicle(large):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="vehiclelarge" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control vlassembly" [(ngModel)]="vehiclelargeassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="vlname" class="form-control vllvl1"
                            [(ngModel)]="vehiclelargelevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="vlname" class="form-control vllvl2"
                            [(ngModel)]="vehiclelargelevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="vlname" class="form-control vllvl3"
                            [(ngModel)]="vehiclelargelevel" />
                    </div>
                    <div class="form-group">
                        <label>Monster/Vehicle(largest):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="vehiclelargest" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control vltassembly" [(ngModel)]="vehiclelargestassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="vltname" class="form-control vltlvl1"
                            [(ngModel)]="vehiclelargestlevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="vltname" class="form-control vltlvl2"
                            [(ngModel)]="vehiclelargestlevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="vltname" class="form-control vltlvl3"
                            [(ngModel)]="vehiclelargestlevel" />
                    </div>
                    <div class="form-group">
                        <label>Monster/Vehicle(superheavy):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="vehiclesuperheavy" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control shassembly"
                            [(ngModel)]="vehiclesuperheavyassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="shname" class="form-control shlvl1"
                            [(ngModel)]="vehiclesuperheavylevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="shname" class="form-control shlvl2"
                            [(ngModel)]="vehiclesuperheavylevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="shname" class="form-control shlvl3"
                            [(ngModel)]="vehiclesuperheavylevel" />
                    </div>
                    <div class="form-group">
                        <label>Monster/Vehicle(titan):</label>
                        <input type="number" class="form-control prc" [(ngModel)]="vehicletitan" />
                        <label>Assembly</label>
                        <input type="checkbox" class="form-control tassembly" [(ngModel)]="vehicletitanassembly" />
                        <label>Level 1</label>
                        <input type="radio" value="1" name="tname" class="form-control tlvl1"
                            [(ngModel)]="vehicletitanlevel" />
                        <label>Level 2</label>
                        <input type="radio" value="2" name="tname" class="form-control tlvl2"
                            [(ngModel)]="vehicletitanlevel" />
                        <label>Level 3</label>
                        <input type="radio" value="3" name="tname" class="form-control tlvl3"
                            [(ngModel)]="vehicletitanlevel" />
                    </div>
                    <div class="form-group">
                        <label>Color scheme (if wanting to use a picture please put a link to the picture in the box
                            below):</label>
                        <input type="text" class="form-control " [(ngModel)]="scheme" />
                    </div>
                    <div class="form group">
                        <label>Please enter any special requests below: (WARNING: This may not be possible or come with
                            additional charges)</label>
                        <input type="text" class="form-control " [(ngModel)]="message" />
                    </div>
                    <div class="form group">
                        <label>Total:</label>
                        <output id="total"></output>
                    </div>
                </fieldset>
                <br>
                <br>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                    (click)="sendEmail()">Send Request</button>


            </div>



        </div>
    </div>
</div>





<div *ngIf="!(authenticationService.userData | async)">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4" style="color: white;">Welcome back!</h3>

                                <div class="form-label-group">
                                    <input id="inputEmail" class="form-control" required type="text" [(ngModel)]="email"
                                        placeholder="email">
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control" required
                                        [(ngModel)]="password" placeholder="password">
                                </div>


                                <button
                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    type="submit" (click)="signIn()">Sign in</button>
                                <button
                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    type="submit" (click)="signUp()">Register</button>
                                <br>
                                <br>

                                <button
                                    class=" btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    (click)="loginWithGoogle()" role="button" style="text-transform:none">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                    Sign in with Google
                                </button>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>