<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  
    <title>Cobalt Keep Miniatures</title>
    <style>
        @media screen and (max-width: 450px) {
            #header {
                padding-top: 100px;
                background-image: url(/assets/images/banner2.jpg);
                background-size: 100%;
                background-repeat: repeat;
            }

        }
        @media screen and (min-width: 450px) and (max-width: 630px){
            #header{
                background-image: url(/assets/images/banner2.jpg);
            }
            
        }
        @media screen and (min-width: 630px) and (max-width: 980px){
            #header {
                background-image: url(/assets/images/banner1.jpg);
                background-size: 100%;
            }
        }
        @media screen and (min-width: 980px){ 
            #header {
                background-image: url(/assets/images/banner.jpg);
                background-size: 100%;
            }
            
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border-radius: 15px 50px;
        }
    </style>
</head>
  
  
  <!-- Toolbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#708090;">
    <a class="navbar-brand" style="color: #0047AB;"  routerLink="/" routerLinkActive="active">
        <img src="/assets/images/Cobalt_Keep_Flag_Small.jpg"
            width="30" height="30" class="d-inline-block align-top" alt="">
        Cobalt Keep Miniatures
    </a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " style="color:#0047AB;" routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/gallery" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: whitesmoke;" routerLink="/services" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/about-us" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/contact" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Contact</a>
            </li>
  
        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav" *ngIf="!(authenticationService.userData | async)"> 
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: #0047AB;" routerLink="/user-profile"
                    routerLinkActive="active">Login/Register</a>
            </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav" *ngIf="(authenticationService.userData | async)"> 
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: #0047AB;" routerLink="/user-profile"
                    routerLinkActive="active">User Profile</a>
            </li>
            <li class="nav-items">
                <a class="nav-link" style="color: #0047AB;" routerLink="/"
                routerLinkActive="active" (click)="signOut()">Log out</a>
            </li>
        </ul>
    </div>
  </nav>
  <div id= "header"class="jumbotron"style="width: 100%;text-align: center; background-size: 100%; background-image: url(/assets/images/banner.jpg);">
    <h1 class="display-4" style="text-align: center; color: maroon;"><strong>
                Services
            </strong></h1>
        <p class="lead"style="text-align: center; color: maroon;"><strong>
                What we do so you give us money!
            </strong></p>
    </div>

    <!-- 
        This section will have a scrolling banner with the 4 types 
        under the banner will have all 4 levels with small blerbs about them with an example image
        under the section will be 3 accordians with spreadsheets that show pricing 
        form to submit to artist for quote and amount (should have number and check boxes and show a preview of cost)
        cost will show the 1/2 required up front and the 1/2 required at completion
    -->
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align: center;">
                <h1 style="color: white;">Painting Qualities</h1>
                <p style="color: #0047AB;">We offer 4 different types of painting qualities, so that we can provide what level is the best
                    option for your armies and budget!<br>
                    <br>
                    For more examples of our differnet levels please do visit our <a style="color: white;" routerLink="/gallery" routerLinkActive="active">Gallery</a>
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" style="border-radius: 25px;" src="../../../assets/images/IMG_0685.JPG" alt="">
            </div>
        </div>
    </div>
    <div class="space">
        <div class="container-fluid">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!--Carousel-->
    
    <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
          </div>
        </mdb-carousel-item>
      </mdb-carousel> -->
    
    

    <div class="container">
        <div class="row">
            
            
            <div class="col-md-4">
                <h2 style="color: white;">Level 1</h2>
                <ul style="list-style-type:disc; color: #0047AB;">
                    <li>High Quality</li>
                    <li>Fully Painted</li>
                    <li>Applied Shading</li>
                    <li>Simple Highlights and lights</li>
                </ul>
                <img class="img-fluid " src="../../../assets/images/IMG_0710.JPG" alt="">
            </div>
            <div class="col-md-4">
                <h2 style="color: white;">Level 2</h2>
                <ul style="list-style-type:disc; color: #0047AB;">
                    <li>Higher Quality</li>
                    <li>Edge Highlighting</li>
                    <li>Multiple Colors on Details</li>
                    <li>No Blending</li>
                </ul>
                <img class="img-fluid " src="../../../assets/images/IMG_0686.JPG" alt="">
            </div>
            <div class="col-md-4">
                <h2 style="color: white;">Level 3</h2>
                <ul style="list-style-type:disc; color: #0047AB;">
                    <li>Highest Quality</li>
                    <li>Multiple Edge Highlights</li>
                    <li>Blending where Needed</li>
                    <li>Battle-Damaged if Specified</li>
                </ul>
                <img class="img-fluid" src="../../../assets/images/IMG_0675.JPG" alt="">
            </div>
        </div>
    </div>
   
    <div class="space">
        <div class="container-fluid">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="text-align: center;">
                <h3 style="color: white;">Assembling</h3>
                <p style="color: #0047AB;">Assembling prices from this table represent the cost for asembling one miniature and it includes:
                    cutting the parts from the sprues, cleaning the excesses, removing the mould lines, filling the
                    gaps, gluing the parts together and drilling gun barrels and exhausts.</p>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h3 style="color: white;">Painting</h3>
                <p style="color: #0047AB;">Painting prices from this table represent the cost for painting one miniature and sealing it with a
                    protective varnish coat.</p>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h3 style="color: white;">Other Services</h3>
                <p style="color: #0047AB;">We also offer basing, conversions, and freehand services because our webmaster is a mean person who
                    added this so that we had to do more work and actually get paid.</p>
            </div>
        </div>
    </div>
    <!--Accordian-->
    <div class="container" style="background-color: #708090;">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div id="accordianId" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="section1HeaderId" >
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId"
                                    aria-expanded="true" aria-controls="section1ContentId">
                                    USD
                                </a>
                            </h5>
                        </div>
                        <div id="section1ContentId" class="collapse in" role="tabpanel"
                            aria-labelledby="section1HeaderId">
                            <div class="card-body" style="background-color: #708090;">
                                <div class="card">
                                    <iframe
                                    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQahDgA6igWjpttdjcSEQDjMj-mIUQasMfbr-ljTOPFvXbFd4xctRirUGEwumICCxVmX2WY1feKzc_c/pubhtml?widget=true&amp;headers=false"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="section2HeaderId">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId"
                                    aria-expanded="true" aria-controls="section2ContentId">
                                    CAD
                                </a>
                            </h5>
                        </div>
                        <div id="section2ContentId" class="collapse in" role="tabpanel"
                            aria-labelledby="section2HeaderId">
                            <div class="card-body" style="background-color: #708090;">
                                <div class="card">
                                    <img class="card-img-top" style="background-color: #708090;"
                                        src="http://topminiatures.com/wp-content/uploads/2019/08/painting-quality-levels-price-list-top-miniatures-9.png"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space">
        <div class="container-fluid">
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- information on next steps and a direction to submission form-->
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-md-4" style="text-align: center;">
                <h3 style="color: white;">Payment</h3>
                <p style="color: #0047AB;">For starting to work on your order we will require an advance installment for 50% of the comission
                    cost.<br>
                    <br>
                    We accept PayPal, and may offer other payment methods on request.<br>
                    <br>
                    Changes to the project may incure additional fees that will be discussed at the time of change.
                </p>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h3 style="color: white;">Finalizing your order</h3>
                <p style="color: #0047AB;">
                    Only after the miniatures are finished and you are completely satisfied with the provided pictures
                    of them, we will ask for the rest of the payment.<br>
                    <br>
                    Once we receive confirmation of it we will ship the miniatures to you, and provide you with a
                    tracking number.
                </p>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h3 style="color: white;">Shipping</h3>
                <p style="color: #0047AB;">We bubble wrap the miniatures and put them in a box filled with bubble foil, so you can be certain
                    your huge armies and delicate models will arrive in one piece.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center;color: white;">Starting the process</h3>
                <p style="text-align: center; color: #0047AB;">To get started on having us make your dream army, please fill out the
                    form located on your user page to get the process initiated!</p>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
