<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  
    <title>Cobalt Keep Miniatures</title>
    <style>
        @media (max-width: 415px) {
            #header {
                padding-top: 100px;
            }
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border-radius: 15px 50px;
        }
    </style>
</head>
  
  
  <!-- Toolbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#708090;">
    <a class="navbar-brand" style="color: #0047AB;" href="#">
        <img src="https://image.freepik.com/free-vector/businessman-shouting-through-megaphone_23-2147511376.jpg"
            width="30" height="30" class="d-inline-block align-top" alt="">
        Cobalt Keep Miniatures
    </a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " style="color:#0047AB;" routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/gallery" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/services" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: #0047AB;" routerLink="/about-us" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="color: whitesmoke;" routerLink="/contact" routerLinkActive="active" tabindex="-1"
                    aria-disabled="true">Contact</a>
            </li>
  
        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav" *ngIf="!(authenticationService.userData | async)"> 
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: #0047AB;" routerLink="/user-profile"
                    routerLinkActive="active">Login/Register</a>
            </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse navbars align-right" id="my-nav" *ngIf="(authenticationService.userData | async)"> 
        <ul class="navbar-nav mx-auto">
            <li class="nav-items">
                <a class=" nav-link" style="color: #0047AB;" routerLink="/user-profile"
                    routerLinkActive="active">User Profile</a>
            </li>

        </ul>
    </div>
  </nav>
    <div id="header" class="jumbotron jumbotron-fluid"
        style="background-image: url(https://i.pinimg.com/236x/4a/97/47/4a974709011f2b78c228ddcfc6dba7a2--black-templars-space-marine.jpg); background-size: 100%;">
        <h1 class="display-4" style="text-align: center;"><strong>
                Cobalt Keep Miniatures
            </strong></h1>
        <p class="lead" style="text-align: center;"><strong>
                We do the things to paint the stuff!
            </strong></p>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
